<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <footer>
        <div class="bar">
            <a href="/feed">
                <img src="../images/default/home-01-stroke-rounded.svg" alt="">
            </a>
            <a href="/profile">
                <img src="../images/default/profile-02-stroke-rounded.svg" alt="">
            </a>
            <a href="/logout">
                <img src="../images/default/logout-circle-01-stroke-rounded.svg" alt="">
            </a>
        </div>
    </footer>
</body>
</html>