<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/default/aa.png" type="image/x-icon">
    <title>CreatiVue-Feed</title>
    <link rel="stylesheet" href="../stylesheets/feed.css">  
    <link rel="stylesheet" href="../stylesheets/loader.css">
</head>
<body> 
    <div class="loader-container">
        <div class="loader"></div>
    </div>
        <header>
         <div class="tittle">
          <h1>CreatiVue.. Visualize. Create. Share. CreatiVue.. Visualize. Create. Share. CreatiVue.. Visualize. Create. Share.</h1>
         </div>
        </header>
       <div class="container">
        <% if (posts && posts.length > 0) { %>
            <% posts.forEach(postItem => { %>
                <div class="cards">
                    <img src="../images/uploads/<%= postItem.image %>" class="images" alt="">
                    <div class="name"><%= postItem.tittle %></div>
                    <a href="/feed/down/<%= postItem._id %>">
                        <img class="down" src="../images/default/download-7.png" alt="">

                    </a>

                </div>
            <% }); %>
        <% } %>
        
</div>

      
    
        
        <footer>
          <div class="bar">
              <a href="/feed">
                  <img src="../images/default/home-01-stroke-rounded.svg" alt="">
              </a>
              <a href="/profile">
                  <img src="../images/default/profile-02-stroke-rounded.svg" alt="">
              </a>
              <a href="/logout">
                  <img src="../images/default/logout-circle-01-stroke-rounded.svg" alt="">
              </a>
          </div>
      </footer>

      <script>
        // Select the loader container
var loaderContainer = document.querySelector(".loader-container");

// Listen for the window's load event
window.addEventListener("load", function() {
    // Hide the loader when the window finishes loading
    loaderContainer.style.display = "none";
});

      </script>
</body>
</html>