<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/default/aa.png" type="image/x-icon">
    <title>CreatiVue-Upload</title>
    <link rel="stylesheet" href="../stylesheets/upload.css">
</head>
<body>
   
    <header><h1>Upload a design..</h1></header>

    <form action="/profile/add" method="post" enctype="multipart/form-data">
       <% if(error){%>

            <div class="err">
                <%= error %>
            </div>
       <%}%>
       <div class="cancel"><a href="/profile"><img src="../images/default/cross.svg" alt="cross"></a></div>
            <input type="file" name="fileu" id="fileInput" class="input-file">
            <label for="fileInput" class="file-label"></label>
          
          
        <label for="text">Enter The Tittle</label>
        <input type="text" name="text" class="text" placeholder="Tittle for design">
        <label for="des">Enter the description..</label>
        <textarea maxlength="100" name="des" class="des" cols="30" rows="10"   placeholder="Describe yourself here...">

        </textarea>
        <input type="submit" value="upload">
    </form>
</body>
</html>